<form class="card" [formGroup]="storyForm" (ngSubmit)="onSubmit()">
  <div class="form-input-box">
    <label for="storyName">Story Name</label>
    <input type="text"
           id="storyName"
           class="form-input"
           formControlName="storyName">
    <div *ngIf="storyForm.controls['storyName'].invalid &&
       (storyForm.controls['storyName'].dirty || storyForm.controls['storyName'].touched)">
      <div *ngIf="storyForm.controls['storyName'].errors?.['required']">
        Story Name is required.
      </div>
      <div *ngIf="storyForm.controls['storyName'].errors?.['minlength']">
        Story Name must be at least 3 characters long.
      </div>
    </div>
  </div>
  <div class="form-input-box">
    <label for="storyTask">Story Task</label>
    <input type="text"
           id="storyTask"
           class="form-input"
           formControlName="storyTask">
    <div *ngIf="storyForm.controls['storyTask'].invalid &&
          (storyForm.controls['storyTask'].dirty || storyForm.controls['storyTask'].touched)">
      <div *ngIf="storyForm.controls['storyTask'].errors?.['required']">
        Story Task is required.
      </div>
      <div *ngIf="storyForm.controls['storyTask'].errors?.['minlength']">
        Story Task must be at least 3 characters long.
      </div>
    </div>
  </div>
  <div>
    <!--GETTO: Theres an error happening fix it about path and not finiding control-->
    <div *ngIf="subtask1">
      <div class="form-input-box">
        <label for="storySubTask1">SubTask</label>
        <input type="text"
               id="storySubTask1"
               class="form-input"
               formControlName="storySubTask1">
        <div *ngIf="storyForm.controls['storySubTask1'].invalid &&
          (storyForm.controls['storySubTask1'].dirty || storyForm.controls['storySubTask1'].touched)">
          <div *ngIf="storyForm.controls['storySubTask1'].errors?.['minlength']">
            Story Task must be at least 3 characters long.
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="subtask2">
      <div class="form-input-box">
        <label for="storySubTask2">SubTask</label>
        <input type="text"
               id="storySubTask2"
               class="form-input"
               formControlName="storySubTask2">
        <div *ngIf="storyForm.controls['storySubTask2'].invalid &&
          (storyForm.controls['storySubTask2'].dirty || storyForm.controls['storySubTask2'].touched)">
          <div *ngIf="storyForm.controls['storySubTask2'].errors?.['minlength']">
            Story Task must be at least 3 characters long.
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="subtask3">
      <div class="form-input-box">
        <label for="storySubTask3">SubTask</label>
        <input type="text"
               id="storySubTask3"
               class="form-input"
               formControlName="storySubTask3">
        <div *ngIf="storyForm.controls['storySubTask3'].invalid &&
          (storyForm.controls['storySubTask3'].dirty || storyForm.controls['storySubTask3'].touched)">
          <div *ngIf="storyForm.controls['storySubTask3'].errors?.['minlength']">
            Story Task must be at least 3 characters long.
          </div>
        </div>
      </div>

    </div>
    <div *ngIf="subtask4">
      <div class="form-input-box">
        <label for="storySubTask4">SubTask</label>
        <input type="text"
               id="storySubTask4"
               class="form-input"
               formControlName="storySubTask4">
        <div *ngIf="storyForm.controls['storySubTask4'].invalid &&
          (storyForm.controls['storySubTask4'].dirty || storyForm.controls['storySubTask4'].touched)">
          <div *ngIf="storyForm.controls['storySubTask4'].errors?.['minlength']">
            Story Task must be at least 3 characters long.
          </div>
        </div>
      </div>
    </div>
    <div style="display:flex; flex-direction:row; margin:.1em 2em">
      <section *ngIf="currentIndex !==4">
      <button class="add-button" type="button" (click)="addSubtask(currentIndex)">+</button>
      </section>
    </div>
  </div>

  <div class="stat-box">
    <button (click)="goBack()" type="button">Go Back</button>
    <span class="stat-box-divider"></span>
    <button type="submit" [disabled]="!storyForm.valid">Add</button>
  </div>
</form>
