<form [formGroup]="storyForm" (ngSubmit)="onSubmit()">
  <div class="col-sm-5 form-group">
    <label for="storyName">Story Name</label>
    <input type="text"
           id="storyName"
           class="form-control"
           formControlName="storyName">
    <!--GETTO: Validation message-->
  </div>
  <div class="col-sm-2 form-group">
    <label for="storyTask">Story Task</label>
    <input type="text"
           id="storyTask"
           class="form-control"
           formControlName="storyTask">
    <!--GETTO: Validation message-->
  </div>
  <div class="col-sm-2 form-group">
    <!--GETTO: Theres an error happening fix it about path and not finiding control-->
    <div formArrayName="storySubtask">
      <div *ngFor="let subtask of storySubtasks.controls; let i=index">
        <div [formGroupName]="i">
          <label for="subtask">Story Subtask:{{i}}</label>
          <input type="text" formControlName="{{i}}">
          <button (click)="removeSubtask(i)">Remove</button>
        </div>
      </div>
    </div>
    <button (click)="addSubtask()">+</button>
  </div>
  <div class="col-xs-12">
    <!--GETTO: Is submitting on a single click-->
    <button class="btn btn-success"
            type="submit">
      Add
    </button>
    <button class="btn btn-primary" type="button" (click)="goBack()">Go Back</button>
  </div>
</form>
