<div class="card">
  <div *ngIf="!projects$">
    <div class="rings">
      <div class="ring ring1">
        <div class="ring ring2">
          <div class="ring ring3">
            <div class="ring ring4"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="projects$">
    <div class="flex-list">
      <div *ngFor="let project of projects$ | async">
        <button [routerLink]="['/project-view', project.acronym]">{{project.name}}</button>
      </div>
      <button [routerLink]="['/add-project']" class="add-button">+</button>
    </div>
  </div>
</div>


