<div>
  <p *ngIf="!projectStories$"><em>Loading...</em></p>

  <div *ngIf="projectStories$">
    <button [routerLink]="['/add-story', projectAcronym]">+</button>
    <div *ngIf="!projectStories.length"> This project has no stories</div>
    <div  *ngIf="projectStories.length">
      <div *ngFor="let stories of projectStories">
        <button  [routerLink]="['/story-view', projectAcronym, stories.name]">{{stories.name}}</button>
      </div>
    </div>
  </div>
  <button (click)="goBack()">Go Back</button>
</div>
