<div class="card">
  <div>
    <p *ngIf="!projectStories$"><em>Loading...</em></p>

    <div *ngIf="projectStories$">
      <div class="stat-box">
        <div>Active Stories:&nbsp;{{projectStats.numberOfActiveStories}}</div>
        <span class="stat-box-divider"></span>
        <div>Completed Stories:&nbsp;{{projectStats.numberOfCompletedStories}}</div>
      </div>
      <div *ngIf="!projectStories.length"> This project has no stories</div>
      <div *ngIf="projectStories.length">
        <div class="flex-list">
          <div *ngFor="let story of projectStories">
            <button [routerLink]="['/story-view', projectAcronym, story.name]"
                    class="inverted-button">
              {{story.name}}&nbsp;&nbsp;&nbsp;
              ({{story.storyStats.numberOfCompletedTasks}}/{{story.storyStats.numberOfTasks}})
            </button>
          </div>
          <button [routerLink]="['/add-story', projectAcronym]" class="add-button">+</button>
        </div>
      </div>
    </div>
    <button (click)="goBack()" class="go-back-button">Go Back</button>
  </div>
</div>
