<form class="card" [formGroup]="projectForm" (ngSubmit)="onSubmit()">
    <div class="form-input-box">
      <label for="projectName">Project Name:</label>
      <input type="text"
             id="projectName"
             class="form-input"
             formControlName="projectName">
      <!--GETTO: Validation message-->
    </div>
    <div class="form-input-box">
      <label for="projectAcronym">Project Acronym:</label>
      <input type="text"
             id="projectAcronym"
             class="form-input"
             formControlName="projectAcronym">
      <!--GETTO: Validation message-->
    </div>
    <div class="stat-box">
      <button (click)="goBack()">Go Back</button>
      <span class="stat-box-divider"></span>
      <button type="submit">Add</button>
    </div>
</form>
