a.navbar-brand {
  text-align: left;
  word-break: break-all;
}

html {
  font-size: 1.2em;
}

.navbar-container {
  color: var(--text-color);
  border-radius: .5em;
  margin: auto;
  width: 50%;
}

.navbreak {
  background-color: var(--grey-shadow);
  height: .1em;
  margin: .2em 0em;
  animation: 3s linear slidein, 3s ease-out 5s slideout;
  /*GETTO: figure out how to tilt this up just the right side
        transform-origin: 75%;
        transform: skewX(20deg);
  */
}
