/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */

:root {
  --grey: #e0e0e0;
  --white: #ffffff;
  --text-color: #001f3f;
  --grey-shadow: #bebebe;
  --white-shadow: #ffffff;
}

@font-face {
  font-family: grotesque;
  src: url(assets/LeagueGothic-Regular.otf) format("opentype");
}

@media (min-width: 768px) {
  html {
    font-size: 1.2em;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

body {
  background-color: var(--grey);
  font-family: 'grotesque', sans-serif;
  font-size: 1.2em;
}

button {
  border-radius: .5em;
  border-color: transparent;
  color: var(--text-color);
  margin: .2em 0em;
  background-color: var(--grey);
  box-shadow: .2em .2em .4em var(--grey-shadow), -.2em -.2em .4em var(--white-shadow);
}

  button:hover {
    box-shadow: .2em .2em .4em var(--white-shadow), -.2em -.2em .4em var(--grey-shadow);
  }

  button:active {
    box-shadow: .2em .2em .4em var(--white-shadow), -.2em -.2em .4em var(--grey-shadow);
  }

.add-button {
  width: 2em;
  margin: .2em 0em;
}

.minus-button {
  width: 2.5em;
  margin: .2em 0em;
  padding: 0em .2em
}

.shadowless-button {
  box-shadow: none;
  border: none;
  margin: .2em 0em;
  background-color: transparent;
}

.inverted-button {
  box-shadow: inset .2em .2em .4em var(--grey-shadow), inset -.2em -.2em .4em var(--white-shadow);
}

.go-back-button {
  width: 4em;
  margin: .2em 0em;
  white-space: nowrap;
}

.container {
  color: var(--text-color);
  border-radius: .5em;
  margin: auto;
  width: 50%;
  box-shadow: .2em .2em .4em var(--grey-shadow), -.2em -.2em .4em var(--white-shadow);
}

.card {
  border: none;
  margin: auto;
  width: 50%;
  background-color: var(--grey);
  animation-name: fade-in;
  animation-duration: .5s;
  animation-timing-function: ease-in-out;
}

.stat-box {
  display: flex;
  margin: .2em 0em;
  border: none;
  flex: 0 0 auto;
  white-space: nowrap;
  gap: .2em;
  justify-content: center;
  align-items: center;
}

.stat-box-divider {
  padding: .1em;
  height: 1em;
  margin: 0em .2em;
  background-color: var(--grey-shadow);
  border-radius: .5em 0em;
}

.flex-list {
  display: flex;
  flex-direction: column;
  margin-top: .5em;
  border: none;
  flex: 0 0 auto;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
}

.form-input-box {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  justify-content: center;
}
.form-input {
  background-color: var(--grey);
  color: var(--text-color);
  border: none;
  border-radius: .5em;
  box-shadow: inset .2em .2em .4em var(--grey-shadow), inset -.2em -.2em .4em var(--white-shadow);
}

  .form-input:focus {
    border: none;
    box-shadow: inset .2em .2em .4em var(--white-shadow), inset -.2em -.2em .4em var(--grey-shadow);
  }

.progress-bar-back {
  height: 1em;
  background-color: var(--grey);
  border-radius: 1em;
  box-shadow: inset .2em .2em .4em var(--grey-shadow), inset -.2em -.2em .4em var(--white-shadow);
  margin: 0em .2em;
}
.progress-bar-fore {
  height: 1em;
  background-color: var(--grey-shadow);
  border-radius: 1em;
  box-shadow: .2em .2em .4em var(--grey-shadow), -.2em -.2em .4em var(--white-shadow);
}



.rings {
  position: relative;
  height: 6rem;
  width: 6rem;
  margin: auto;
  margin-top: 1em;
}

.ring {
  box-shadow: -.1em -.1em .15em var(--white-shadow), .1em .1em .15em var(--grey-shadow), inset -.1em -.1em .15em var(--white-shadow), inset .1em .1em .15em var(--grey-shadow);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ring1 {
  height: 6rem;
  width: 6rem;
  animation: glow1 2.5s infinite;
}

@keyframes glow1 {
  60% {
    background-color: var(--grey-shadow);
  }

  80% {
    background-color: var(--text-color);
  }

  100% {
    background-color: var(--text-color);
  }
}

.ring2 {
  height: 5rem;
  width: 5rem;
  animation: glow2 2.5s infinite;
}

@keyframes glow2 {
  40% {
    background-color: var(--grey-shadow);
  }

  60% {
    background-color: var(--text-color);
  }

  100% {
    background-color: var(--text-color);
  }
}

.ring3 {
  height: 4rem;
  width: 4rem;
  animation: glow3 2.5s infinite;
}

@keyframes glow3 {
  20% {
    background-color: var(--grey-shadow);
  }

  40% {
    background-color: var(--text-color);
  }

  100% {
    background-color: var(--text-color);
  }
}

.ring4 {
  height: 3rem;
  width: 3rem;
  animation: glow4 2.5s infinite;
}

@keyframes glow4 {
  0% {
    background-color: var(--grey-shadow);
  }

  20% {
    background-color: var(--text-color);
  }

  100% {
    background-color: var(--text-color);
  }
}
